

.gridA1 {
    display: flex;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 700;
    background-color: #ffffff36;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}
.gridA1> :last-child:nth-child(odd) {grid-column: span 2;}


.boxA5 {
    background-image: url("../images/event/5.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}
.boxA4 {
    background-image: url("../images/event/4.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}
.boxA3 {
    background-image: url("../images/event/3.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}
.boxA2 {
    background-image: url("../images/event/2.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}
.boxA1 {
    background-image: url("../images/event/1.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}
.boxA01 {
    background-image: url("../images/event/01.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}
.boxA02 {
    background-image: url("../images/event/02.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 0.5px #000000e9;
}