.lien1 {
    display: flex;
    color: blue;
    background-color: white;
    border-radius: 5px;
    margin: 4px
    font-weight: 600;
    font-size: 6px;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;
}