.lien1 {
    display: flex;
    color: blue;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
}